{% extends 'main.html' %}

{% block content %}
<div class="newpass-wrapper">

    <div class="newpass-card">
        <h1 class="newpass-title">Create New Password</h1>

        {% if error %}
        <div class="newpass-error">
            New password should not be same as old password
        </div>
        {% endif %}

        <form method="POST" class="newpass-form">
            {% csrf_token %}
            
            <label>Enter New Password</label>
            <input type="password" name="password">

            <button type="submit" class="newpass-btn">Update Password</button>
        </form>
    </div>

</div>
{% endblock %}